<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body ng-app='app'>
  <div ng-controller='PostsCtrl' class='container'>
  <h1>Recent Posts</h1>
  <form role='form'>
	  <div class='form-group'>
		<div class='input-group'>
		  <input ng-model='postBody' class='form-control' />
            <span class='input-group-btn'>
			  <button ng-click='addPost()' class='btn btn-default'>Add Post</button>
			</span>
		</div>
	</div>
  </form>
  <ul class='list-group'>
    <li ng-repeat='post in posts' class='list-group-item'>
	<strong>@{{ post.username }}</strong>
	<span>{{ post.body }}</span>
    </li>
   </ul>
   </div>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js'></script>
<script>
// Create our app module...
var app = angular.module('app', []);

// create the PostsCtrl module
// dependency inject $scope
app.controller(
  'PostsCtrl', 
  // The function runs when the "Add Post" button is clicked.
  // NEW!  Dependency inject $http so that Angular will give you
  // an instance of $http in your controller.
  function($scope, $http){

	$scope.addPost = function(){
		if( $scope.postBody ){
		// Only add a post if there is a body...
			$scope.posts.unshift(
			// unshift a new post into $scope.posts
			{ username: 'dickeyxxx',
			  body: $scope.postBody // Use the text entered
			});
			$scope.postBody=null; // Clear input field after post...
		}
		else {
			alert("Please enter something in the field before clicking on Add Post!");
		}
	};

	// Starting Data
	var b_use_static_data = false;
	if( b_use_static_data ){ 
		$scope.posts = [
			{
				username: 'dickeyxxx',
				body: 'Node rules!'
			},
			{
				username: 'jeffdickey',
				body: 'trying out angular.js...'
			},
		];
	}

	//var node_url = 'http://localhost:3000/api/posts';
	var node_url = 'http://jayne:3000/api/posts';

	// NEW!  Use posts from server as starting data...
	$http.get(node_url)
		.success(function(posts){
			$scope.posts = posts;
		})
		.error(function(err){
			// Cross-Origin Request Blocked: The Same Origin Policy
			// disallows reading the remote resource at
			// http://localhost:3000/api/posts. This can be fixed
			// by moving the resource to the same domain or enabling CORS.
			console.log("Trouble getting posts from '" + node_url + "': err=", err );
			alert("Trouble getting posts from '" + node_url + "': " + err );
		});

  }
);
</script>

</body>
</html>
